{{#news}}
    <div class="modules-section news-item" id="{{id}}" data-id="2">
        <span class="news-item-date">{{date}}</span>
        {{description}}
        <button class="btn btn_right btn__delete" type="submit" name="edit" value="delete">delete</button>
    </div>
{{/news}}
