@import 'reset.less';
@import 'grid.less';

// @font-face {
// 	font-family: Futura;
// 	src: url('../fonts/futura/FuturaStd-Book.otf');
// }
// @font-face {
// 	font-family: Futura-bold;
// 	src: url('../fonts/futura/FuturaStd-Bold.otf');
// }
// @font-face {
// 	font-family: Futura-light;
// 	src: url('../fonts/futura/FuturaStd-Light.otf');
// }

/* -------------------------------------------- */
/* UNIVERSAL ---------------------------------- */
/* -------------------------------------------- */
html,
body {
	font-family: Futura, arial, helvetica, sans-serif;
	color: #fff;
}
* {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
a {
	text-decoration: none;
	&:active,
	&:hover {
		color: inherit;
		text-decoration: underline;
	}
	&:visited {
		color: inherit;
		text-decoration: none;
	}
}
.group:after {
	visibility: hidden;
	display: block;
	content: '';
	clear: both;
	height: 0;
}
.error {
	background-color: red;
	font-weight: bold;
	margin: 5px 0;
	padding: 4px;
	color: #fff;
	border: 5px solid #333;
}
.success {
	background-color: #0bac03;
	font-weight: bold;
	margin: 5px 0;
	padding: 4px;
	color: #fff;
	border: 5px solid #333;
}
.alert {
	font-size: 1.25em;
	line-height: 1.25em;
	&.wip {
		font-size: 1em;
		line-height: 1.25em;
		position: absolute;
		top: 20px;
		right: 10px;
		color: #ffe09f;
	}
}
/* -------------------------------------------- */
/* ------------------------------ END UNIVERSAL */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* MAIN COLUMNS ------------------------------- */
/* -------------------------------------------- */
.bg {
	&-1 {
		background-color: rgb(253, 138, 40);
	}
	&-2 {
		background-color: rgb(57,38,77);
	}
	&-3 {
		background-color: #666;
	}
}
/* -------------------------------------------- */
/* ------------------------------ END UNIVERSAL */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* MAIN COLUMNS ------------------------------- */
/* -------------------------------------------- */
.l {
	&-left {
		width: 250px;
		height: 100%;
		position: fixed;
		overflow: auto;
		margin-top: -20px;
	}
	&-right {
		width: 100%;
		max-width: 1180px;
		padding: 0 30px 0 280px;
	}
}
/* -------------------------------------------- */
/* --------------------------- END MAIN COLUMNS */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* SIDEBAR ------------------------------------ */
/* -------------------------------------------- */
.sidebar {
	border-width: 0 10px 0 0;
	border-style: solid;
	border-color: rgba(255,255,255,.1);
	box-shadow: 5px 0 5px rgba(0,0,0,.25);
	width: 100%;
	height: 100%;
	padding: 0 10px 0;
	text-align: right;
	min-height: 635px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	.sub-header {
		min-height: 75px;
		vertical-align: bottom;
		position: relative;
		margin-bottom: 50px;
	}
	.sub-heading {
		position: absolute;
		bottom: -8px;
		right: 0;
		font-size: 1.45em;
		line-height: 1.25em;
	}
	.nav {
		height: 45%;
		min-height: 345px;
		.item {
			padding: 5px 5px 5px 0;
			cursor: pointer;
			.link {
				color: rgb(255,255,255);
			}
			&:last-child {
				border-bottom: none;
			}
			&.active {
				background-color: rgba(255,255,255,.125);
			}
			&:hover {
				background-color: rgba(255,255,255,.25);
			}
		}
		.info .text {
			font-size: 1.5em;
		}
	}
	&-items-list{
		list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	}
	&-list-heading {
		color: #888;
    font-weight: bold;
    padding: 1%;
    font-size: 1.15em;
    cursor: pointer;
    display: block;
		&:hover {
			text-decoration: none;
		}
	}
}
/* ----------------------------------- end info */

/* copyright ---------------------------------- */
.copyright {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: .7em;
	color: rgb(255,255,255);
	color: rgba(255,255,255,.3);
	.text {
		cursor: default;
	}
}
/* ------------------------------ end copyright */

/* -------------------------------------------- */
/* -------------------------------- END SIDEBAR */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* HEADER ------------------------------------- */
/* -------------------------------------------- */
.logo {
	height: 225px;
	.logo-image {
		height: 100%;
		margin: 20px 0;
		background-image: url(../img/logo-fff-30.png);
		background-repeat: no-repeat;
		background-size: 100%;
		text-indent: -9999px;
	}
}
/* -------------------------------------------- */
/* --------------------------------- END HEADER */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* MODULE ------------------------------------- */
/* -------------------------------------------- */
.module {
	margin-top: 190px;
	&:first-child {
		margin-top: 0;
	}
	.header {
		font-size: 2em;
		color: rgba(255, 255, 255, .2);
		margin-bottom: 10px;
	}
	.module-wrap {
		position: relative;
		background-color: rgba(255,255,255,.3);
		padding: 10px;
		min-width: 700px;
		// &:last-child {
		// 	margin-bottom: 100px;
		// }
		.logo + & {
			margin-top: 40px;
		}
		.sub-header {
			background-color: #555;
			color: #888;
			font-size: 1em;
			text-transform: capitalize;
		}
		.left {
			width: 85%;
			float: left;
		}
		.right {
			width: 15%;
			position: absolute;
			right: 10px;
			top: 10px;
			bottom: 10px;
			padding-left: 12px;
		}
		.module-main {
			min-height: 250px;
			.main-image {
				width: 100%;
				display: block;
			}
		}
	}
	.module-nav {
		width: 100%;
		height: 100%;
		position: relative;
		.sub-header {
			// width: 100%;
			text-align: center;
			border-bottom: 1px solid #444;
			box-sizing: border-box;
			line-height: 1.4em;
			padding: 10px 0;
		}
		// .list-wrap {
		// 	overflow: auto;
		// 	position: absolute;
		// 	top: 65px;
		// 	bottom: 0;
		// 	right: 0;
		// 	left: 0;
		// }
	}
	.module-list {
		overflow: auto;
		position: absolute;
		top: 65px;
		bottom: 0;
		right: 0;
		left: 0;
		list-style-type: none;
		text-align: center;
		.list-item {
			background-position: center center;
			background-repeat: no-repeat;
			opacity: .4;
			display: inline-block;
			height: 65px;
			width: 65px;
			background-color: #555;
			margin-top: 15px;
			cursor: pointer;
			overflow: hidden;
			-webkit-transition: .125s linear all;
			background-size: 100%;
			&.active {
				opacity: 1;
			}
			&:hover {
				background-color: #777;
			}
			&.active .nav-item-image {
				border: 3px solid white;
				background-size: 166%;
			}
		}
	}
	.info-items-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		.info-header {
			float: left;
			width: 31%;
			padding: 2.5% 1% 0;
			margin: 0 1%;
			border-bottom: 1px solid #555;
			cursor: pointer;
		}
		.info-item {
			float: left;
			width: 50%;
			position: relative;
			&:last-child {
				float: right;
			}
			&:first-child {
				left: 0;
			}
		}
	}
	.info-heading {
		border: none;
		padding: 1%;
		font-size: 1.15em;
	}
	&:first-child {
		margin-top: 40px;
	}
	&[data-kind='studio'] .main-image {
		margin-bottom: -14px;
	}
}


/* ------------------------------------ end nav */

/* info ------------------------------------ */
/* -------------------------------- end info */

/* info universal -------------------------- */
.module-info {
	border-top: 10px solid transparent;
	margin-right: -10px;
	.info {
		&.info-list * {
			   -moz-user-select: text;
			-webkit-user-select: text;
			        user-select: text;
		}
		.info-list-item {
			list-style-type: none;
			margin: 0 0 10px 0;
			padding: 0;
			box-sizing: border-box;
		}
	}
	.info-list-heading {
		color: #888;
		border-bottom: 1px solid #555;
		padding-bottom: 3px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.info-list {
		list-style-type: none;
		display: none;
		width: 100%;
		left: 0;
		padding: 0 4% 4% 4%;
		position: relative;
		&.related {
			max-width: 250px;
			float: right;
			margin-right: 5px;
		}
		&-item {
			color: #999;
			margin: 5px 0;
			line-height: 1.25em;
			a {
				display: inline-block;
				height: 100%;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}
/* ---------------------- end info universal */




/* available ---------------------------------- */
.form-input,
.available .form-input,
.available .form-submit {
	background-color: #555;
	/* border: 1px solid #444; */
	border: none;
	font-size: .8em;
	color: #888;
	padding: 2px;
	width: 100%;
	-webkit-transition: .125s linear all;
	resize: none;
}
.available {
	.form-submit {
		color: #888;
		width: 50%;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			color: #555;
		}
	}
}
.form-input:hover,
.available .form-input:hover,
.available .form-input:focus,
.available .form-submit:hover {
	background-color: #777;
	color: #444;
}
/* ------------------------------ end available */

/* related ------------------------------------ */
.related .info-list-item {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: #555;
	float: right;
	margin: 6px;
	-webkit-transition: .125s linear all;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .4;
	&.active {
		opacity: 1;
	}
	&:hover {
		background-color: #777;
	}
}
/* -------------------------------- end related */

/* -------------------------------------------- */
/* --------------------------------- END MODULE */
/* -------------------------------------------- */




/* -------------------------------------------- */
/* MODULE UNIVERSAL --------------------------- */
/* -------------------------------------------- */
[data-kind='news'] {
	.module-main {
		padding: 20px;
		font-size: 1.5em;
		line-height: 1.25em;
		position: relative;
	}
	.module-list .list-item {
		line-height: 5.5em;
		font-size: .75em;
		&.active {
			font-weight: bold;
		}
	}
	.text {
		line-height: 1.25em;
		margin-bottom: 40px;
	}
	.display-date {
		font-size: .8em;
		text-align: right;
		border-top: 5px solid rgba(255, 255, 255, .05);
		margin-top: 5px;
		padding-top: 15px;
		line-height: .8em;
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 10px;
	}
}
/* -------------------------------------------- */
/* ----------------------- END MODULE UNIVERSAL */
/* -------------------------------------------- */


/* -------------------------------------------- */
/* STUDIO ------------------------------------- */
/* -------------------------------------------- */
[data-kind='studio'] {
	.module-list .list-item {
		line-height: 5.5em;
		font-size: .75em;
		&.active {
			text-shadow: 0 0 4px black;
			font-weight: bold;
		}
	}
	.module-main {
		position: relative;
		padding: 0;
		font-size: 1.5em;
		line-height: 1.8em;
		/* overflow: hidden; */
	}
	.display-date {
		font-size: .8em;
		text-align: right;
		border-top: 5px solid rgba(255, 255, 255, .05);
		margin-top: 5px;
		padding-top: 15px;
		line-height: .8em;
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 10px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		border: none;
		margin-bottom: 0;
		padding-bottom: 0;
		text-shadow: 0 0 2px #000;
	}
}

/* -------------------------------------------- */
/* --------------------------------- END STUDIO */
/* -------------------------------------------- */


/* -------------------------------------------- */
/* CV ----------------------------------------- */
/* -------------------------------------------- */
.module-main .cv {
	font-size: 1em;
	margin: 0 10px;
	padding: 20px 10px;
	line-height: 1.2em;
	.cv {
		h1 {
			font-size: 3em;
			margin-bottom: 30px;
		}
		h2 {
			font-size: 2.5em;
			margin-bottom: 25px;
		}
		h3 {
			font-size: 2em;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 1.5em;
			margin-bottom: 15px;
		}
		h5 {
			font-size: 1.25em;
			margin-bottom: 10px;
		}
		h6 {
			font-size: 1em;
			margin-bottom: 10px;
		}
		sup {
			vertical-align: super;
			font-size: .7em;
		}
		sub {
			vertical-align: sub;
			font-size: .7em;
		}
		ul,
		ol {
			margin-left: 30px;
		}
	}
	.cv-date {
		font-size: 2.4em;
		border-bottom: 5px solid rgba(255, 255, 255, .05);
		padding-bottom: 15px;
		text-align: right;
		margin: 0 10px 0 10px;
		padding: 10px 0 5px;
		font-size: 1.2em;
	}
}
/* -------------------------------------------- */
/* ------------------------------------- END CV */
/* -------------------------------------------- */


/* -------------------------------------------- */
/* CONTACT ------------------------------------ */
/* -------------------------------------------- */
#contact {
	.success,
	.error {
		margin: 20px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&:last-child {
		form {
			margin: 0 20px;
			padding: 20px 0;
		}
		input,
		textarea,
		button {
			width: 100%;
			background: #999;
			border: 0;
			padding: 5px;
			margin-bottom: 20px;
			font-size: 1.5em;
		}
		input:focus,
		textarea:focus {
			background: #ccc;
		}
		button {
			padding: 5px;
			font-weight: bold;
			margin-bottom: 0;
			&:hover {
				background: #aaa;
			}
			&:active {
				background: #777;
			}
		}
		input {
			display: block;
		}
		textarea {
			height: 250px;
		}
	}
}
/* -------------------------------------------- */
/* -------------------------------- END CONTACT */
/* -------------------------------------------- */
